# YARD artifacts
*.gem
*.rbc
*.swp
*~
.#*
.bundle
.config
.DS_Store
.idea
.project
.sass-cache
.yardoc
\#*
_yardoc
coverage
doc/
Gemfile.lock
InstalledFiles
lib/bundler/man
nbproject
pkg
rdoc
spec/dummy
spec/reports
test/tmp
test/version_tmp
tmp
